* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.foto {
    width: 50px;
    height: 50px;
}

.navegacao {
    background: black;
}

.navegacao ul {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    gap: 40px;
    margin-right: 20px;
    list-style: none;
}

.nome {
    margin-right: 230px;
}

.navegacao a {
    font-family: sans-serif;
    font-weight: 250px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #CF1C3B;
    white-space: nowrap;
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #798897;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}